*{
    margin: 0pt;
    padding: 0pt;
}
footer{
    margin: 0pt;
    padding: 0pt;
    overflow: hidden;
}
.f-title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background: yellow;
    border-top: 2pt solid black;
    border-bottom: 2pt solid black;
}
.f-isi{
    padding-top: 20px;
}
.f-isi img{
    width: 100%;
}
.f-isi button{
    width: 100%;
}
.loc{
    width: 20%;
    float:left;
    margin-left: 7%;
}
.loc1{
    width: 20%;
    float:left;
    margin-left: 2%;
}
.loc2{
    width: 20%;
    float:left;
    margin-left: 2%;
}
.contact{
    width: 20%;
    float: left;
    margin-left:2%;
    margin-right: 7%;
}