header{
	background-color: black;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: right;
}

header a{
	color: yellow;
	text-decoration: none;

}

 img{
	width: 10%;
	height: 10%;
	margin-right: 915px;
}
