*{
    margin: 0pt;
    padding: 0pt;
}
header{
	background-color: black;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: right;
	height: 50px;
}
header div{
	height: 100%;
	float: right;
}	
header a{
	color: yellow;
	text-decoration: none;
}
img{
	height: 100%;
	float: left; 
}
.category h1{
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 20pt;
}
.category{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.category-list{
    height: 220px;
    /* background: yellow; */
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    margin-left: 5%;
    margin-right: 5%;
}
.category-list .list{
    width: 22%;
    height: 180px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
    margin-bottom: 10px;
    background: red;
    float: left;
}
.category-list .list:first-child{
    margin-left: 3%;
}
.category-list .list:last-child{
    margin-right: 3%;
}
.category-list img{
    width: 100%;
}
footer{
    margin: 0pt;
    margin-top: 20pt;
    padding: 0pt;
    overflow: hidden;
}
.f-title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background: yellow;
    border-top: 2pt solid black;
    border-bottom: 2pt solid black;
}
.f-isi{
    padding-top: 20px;
}
.f-isi img{
    width: 100%;
}
.f-isi button{
    width: 100%;
}
.loc{
    width: 20%;
    float:left;
    margin-left: 7%;
}
.loc1{
    width: 20%;
    float:left;
    margin-left: 2%;
}
.loc2{
    width: 20%;
    float:left;
    margin-left: 2%;
}
.contact{
    width: 20%;
    float: left;
    margin-left:2%;
    margin-right: 7%;
}
